# Minimum duration of received sound
sound.min-duration = 1000
# Config for Java AudioFormat from javax.sound
sound.sample-size-in-bits = 16
sound.sample-rate = 16000
sound.channels = 1
sound.signed = true
sound.big-endian = false
# Time of calibration
sound.calibration-time-ms = 20000
telegram.chat-id =
telegram.bot-token =
# Path to Vosk model
sound.recognize.model-path = D:\\vosk-model-small-ru-0.22
# Save path to SaveHandler
sound.save-path = D:\\testproj
# Option to create handler
handler.save = true
handler.telegram = true
handler.recognize = true
handler.repeater = true